body{
    text-align: center;
}
.login{
    color: green;
    text-align:centre;
        
}

.button-link {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: rgb(9, 58, 218);
}

.form-style {
    padding: 0.5em;
}

.button-style {
    width: 60%;
}
